body{
    background-color: rgb(255, 132, 152);
}
.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow:  2px 2px 4px #000000;; 
  
  }
  
  h2 {
    font-size:8em; 
   font-weight: 700;
   line-height:1em;
   text-align: center;
   color: #46b49c;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  img{
    height: 100px;
    width: 100px;
  }
  .medication-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow:  2px 2px 4px #000000;;
}

.medication-table th, .medication-table td {
    padding: 10px;
    text-align: center;
    border: none;
}

.medication-table th {
    background-color: #ffffff;
    color: #000000;
    border: none;
}

.medication-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.medication-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
/* body{
    background-color: rgb(255, 255, 255)
}
h1{
    font-size:6em; 
    font-weight: 500;
    line-height:1em;
    text-align: center;
    color: #70d8c1;
} */