body{
    background-color: rgb(255, 132, 152);
}
.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    text-align: center;
    background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
    border: 1px solid #ccc; /* Agrega un borde según tus preferencias */
    padding: 20px; /* Ajusta el espacio interno según tus preferencias */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra según tus preferencias */
  }
  
  h2 {
    font-size:6em; 
   font-weight: 500;
   line-height:1em;
   text-align: center;
   color: #70d8c1;
  }
  img{
    height: 200px;
    width: 200px;
  }
  .medication-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.medication-table th, .medication-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.medication-table th {
    background-color: #0074D9;
    color: #fff;
}

.medication-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.medication-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
/* body{
    background-color: rgb(255, 255, 255)
}
h1{
    font-size:6em; 
    font-weight: 500;
    line-height:1em;
    text-align: center;
    color: #70d8c1;
} */